APP_ENV=local
APP_ORIGIN=http://127.0.0.1:3000
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:55421
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=replace-with-publishable-key
SUPABASE_AUTH_DISCORD_CLIENT_ID=replace-with-discord-client-id
SUPABASE_AUTH_DISCORD_SECRET=replace-with-discord-client-secret
